.navbar{
    padding-top:1rem ;
    padding-bottom:1rem ;
    background-color: inherit;
    font-size: large;
    font-weight: 900;
    border-bottom: 3px black solid;
}

.navbar__main-navigation__item{
    cursor: pointer;
}

.navbar__main-navigation__item:hover{
    animation: drop_shadow 0.1s ease-in 50ms forwards;
}

@keyframes drop_shadow {
    
    100% {
        transform: perspective(1px);
        box-shadow: 0px 5px 0px black;
    }
}